[user]
	name = Alain Mosnier
	email = alain@wanamoon.net
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	au = add -u
	aa = add -A
	tree = log --all --graph --decorate --pretty=oneline --abbrev-commit
	ds = diff --staged
[credential]
	helper = cache
[push]
	default = simple
[core]
	editor = emacs
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
